/* Customize your main colors in :root variables */
:root {
  --main-background-color: #1d4be7;
  --card-background-color: #1d4be7;
  --countdown-background-color: #6681ce;
  --main-text-color:#d870d9;
  --title-text-color:#f3c64f;
}

body{
/*  background-color:var(--main-background-color);*/
  background: url("img/background.png");
  background-size: cover;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.1em;
}

h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: normal;
}



